.soustitre {

  position: relative;

  left: 9%;

  @media screen and (min-width:$min-width-tab) and (max-width:$max-width-tab) {

    left: 0%;

  }


  @media screen and (min-width:$width_desktop) {

    margin-left: -1%;
    left: 1%;

  }


}