.titre_box_resto {

  font-size: 171%;

  font-weight: bold;

  padding-top: 12%;
  padding-bottom: 4%;

  position: relative;
  left: 8%;


  @media screen and (min-width:$width_desktop) {


    padding-top: 2%;
    padding-bottom: 2%;

    position: relative;
    left: 16%;

  }

}