.titre_restaurant{

    font-weight: bold;
   
    padding-top: 7%;
    padding-bottom: 4%;

    position: relative;
    left: 19%;

    font-size: 171%;

    display: flex;
    flex-direction: column;
    
    @media screen  and (min-width:$width_desktop) {
      
  display: block;
      position: relative;
    left: 36%;

    padding-top: 2%;
    padding-bottom: 2%;

    }

    @media screen and (min-width:$min-width-tab) and (max-width:$max-width-tab){
      display: block;
      left: 24%;

    }

  }