.box_plat{

    background-color: $grey_div;


        padding-top: 11%;

        position: relative;
    top: -30px;
   


@media screen  and (min-width:$width_desktop) {
        
position: relative;

border-top-left-radius: 28px;
border-top-right-radius: 28px;

}

}