.box_image_new{

    height:31vh;
    border-bottom:15px solid $grey;
    background-color:$backcolor;
    border-radius: 29px;

    padding-bottom: 2%;

    @media screen and (min-width:$width_desktop) {

        width: 33%;
        
    }

}


.box_image_nonew{

    height:30vh;
    border-bottom:15px solid $grey;
    background-color:$backcolor;
    border-radius: 29px;

    padding-bottom: 2%;

    @media screen and (min-width:$width_desktop) {

        width: 33%;
        
    }

}

