.div_search{

    background-color: #f6f6f6;
    border: none;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    text-align: center;

    padding: 4%;

    box-shadow: inset -3px 20px 19px -12px $grey_search;

}