.flex_box_image{


    width: 90%;
    position: relative;
    left: 3%;



border-top-left-radius: 25px 37px;
border-top-right-radius: 25px 37px;

@media screen and (min-width:$width_desktop) {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
    
}

}