.div_header {

  background-color: $back_grey;
  width: 104%;


  height: 59vh;

  @media screen and (min-width:$min-width-tab) and (max-width: $max-width-tab) {

    height: 100%;


  }



  @media screen and(min-width:$width_desktop) {

    height: 41vh;

  }

  position: relative;
  left: -2%;

}