.div_new{

  
    color:$green_back;
    position: relative;
    top: -5%;
  
  
    font-weight: bold;
  
    z-index: 1;
  
    height: 10%;
  
  
  @media screen and (min-width: $width_desktop) {
    
    top: -5%;
    width: 67%;
    left: 80%;
    
    }
  
    @media screen and (min-width:$min-width-tab) and (max-width:$max-width-tab){
  
      left: 84%;
       padding: 0%; 
      z-index: 1;
      top: 3%;
  
    }
  
  }
  