.btn_commander{

    @extend .button_explore;


      position: relative;
      top: 0px;
      left: 90px;
    
    width: 52%;

    height: 46px;

    cursor: pointer;

    @media  screen and (min-width:$width_desktop){

      position: relative;
      top: 0px;
    left: 30%;
    width: 37%;

  }


  @media screen  and (min-width:$min-width-tab) and (max-width: $max-width-tab){

    left: 196px;

    

  }

    }
