.card_plat {

  background-color: white;
  margin-bottom: 4%;
  box-shadow: 1px 0px 5px grey;
  border-radius: 10px;



  @media screen and (min-width: $width_desktop) {

    width: 34vh;

    margin-bottom: 0%;

  }

  &:hover {

    cursor: pointer;

    .validator {



      display: block;

      background-color: $green;
      width: $width-validator;

      border: 3px $green;

      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      width: 20;

    }


    .box_card {
      display: flex;
    }

    .box_text {

      width: $width_card;

    }

    .check_valide {

      color: $green;
      
      position: relative;
      top: 14%;
      left: 14%;

      animation: spin 3s;


    }

    .box_card_check {

      background-color: white;

      border-radius: 100%;
      width: 20px;
      height: 20px;

      position: relative;
      top: 30%;
      left: 34%;

  

    }


    .cut {

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80%;
    }


  }


}