input::-webkit-input-placeholder {
    font-weight: bold;
    color: black;

}

input::-moz-placeholder {
    font-weight: bold;
    color: black;

}

input::-ms-input-placeholder {
    font-weight: bold;
    color: black;

}