html {
  overflow-x: hidden; }

body {
  background-color: #ffffff;
  margin: 0;
  height: 100%;
  overflow-x: hidden; }

img {
  object-fit: cover; }

footer {
  background-color: #353535ff;
  color: white;
  justify-content: space-around;
  padding-bottom: 6%; }
  @media screen and (min-width: 1000px) {
    footer {
      padding-bottom: 0%; } }

a {
  text-decoration: none;
  color: white; }

main {
  opacity: 0; }

.link_fleche {
  position: relative;
  left: -3%; }
  @media screen and (min-width: 1000px) {
    .link_fleche {
      left: 11%;
      top: 20px; } }

.fa-heart {
  font-size: 1em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
  transition: color 2s ease-out;
  position: relative;
  top: 27%;
  font-size: 2em; }
  .fa-heart:hover {
    background: -webkit-linear-gradient(top, #9356DC 30%, #FF79DA 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer; }

.box_restaurant_text {
  display: flex;
  justify-content: space-between; }

.div_header {
  background-color: #f6f6f6;
  width: 104%;
  height: 55vh;
  position: relative;
  left: -2%; }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .div_header {
      height: 100%; } }
  @media screen and (min-width: 1000px) {
    .div_header {
      height: 41vh; } }

.button_explore, .btn_commander {
  position: relative;
  top: 34px;
  left: 15%;
  cursor: pointer;
  height: 57px;
  padding-left: 6%;
  padding-right: 6%;
  border: none;
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  border-top-right-radius: 26px;
  color: white;
  font-size: 1.2em;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  margin-bottom: 10%; }
  @media screen and (min-width: 1000px) {
    .button_explore, .btn_commander {
      left: 37%;
      margin-bottom: 0%; } }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .button_explore, .btn_commander {
      left: 31%; } }

.btn_commander {
  position: relative;
  top: 15px;
  left: 90px;
  width: 52%;
  height: 46px;
  cursor: pointer; }
  @media screen and (min-width: 1000px) {
    .btn_commander {
      position: relative;
      top: 0px;
      left: 30%;
      width: 37%; } }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .btn_commander {
      left: 196px; } }

.sous_titre {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  position: relative;
  left: 13%; }
  @media screen and (min-width: 1000px) {
    .sous_titre {
      left: 36%; } }

.titre_section_plat {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  position: relative;
  left: 13%; }
  @media screen and (min-width: 1000px) {
    .titre_section_plat {
      left: 0%; } }

.text_fonctionement {
  font-weight: bold;
  font-size: 27px;
  margin-bottom: 11%;
  position: relative;
  left: 6%;
  margin-top: 8%; }
  @media screen and (min-width: 1000px) {
    .text_fonctionement {
      margin-top: 2%;
      margin-bottom: 2%; } }

.div_icone_titre {
  background-color: #ffffff;
  margin-top: 3%; }
  @media screen and (min-width: 1000px) {
    .div_icone_titre {
      margin-top: 0%; } }

.el_nav_menu {
  background-color: #f6f6f6;
  height: 11vh;
  width: 93%;
  display: flex;
  border-radius: 23px;
  margin-bottom: 7%;
  position: relative;
  left: 5%;
  box-shadow: 0px 7px 9px #e6e6e6; }
  .el_nav_menu:hover #icone_mobile {
    color: #9356DC; }
  @media screen and (min-width: 1000px) {
    .el_nav_menu {
      width: 22%; } }

#icone_mobile {
  color: grey; }

.taille_image_acceuil {
  width: 100%;
  height: 22vh;
  border-top-left-radius: 11px 21px;
  border-top-right-radius: 11px 21px; }

.el_nav_menu:hover {
  background-color: #f5edff; }

.numbre_cicle {
  position: relative;
  top: -6px;
  left: -2px;
  font-size: 12px; }
  @media screen and (min-width: 1000px) {
    .numbre_cicle {
      top: -1px;
      left: -1px;
      font-size: 28px; } }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .numbre_cicle {
      top: -18px;
      left: -8px;
      font-size: 38px; } }

.circle_nav {
  height: 1px;
  width: 1px;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  text-align: center;
  position: relative;
  left: -14px;
  top: 32%;
  padding: 4%; }
  @media screen and (min-width: 1000px) {
    .circle_nav {
      padding: 2%;
      top: 30%;
      height: 28%;
      width: 9%; } }

.box_menu {
  display: flex;
  width: 72%;
  justify-content: space-evenly;
  position: relative;
  top: 37%; }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .box_menu {
      font-size: 26px; } }

.double_icone {
  display: flex; }

.icone_titre {
  width: 61%;
  margin-top: 4%;
  margin-bottom: 4%;
  position: relative;
  left: 21%; }
  @media screen and (min-width: 1000px) {
    .icone_titre {
      width: 25%;
      left: 36%; } }

.font_size_icone {
  font-size: 139%; }

.div_titre {
  background-color: white; }

.soustitre {
  position: relative;
  left: 9%; }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .soustitre {
      left: 0%; } }
  @media screen and (min-width: 1000px) {
    .soustitre {
      left: 1%; } }

.titre_restaurant {
  font-weight: bold;
  padding-top: 7%;
  padding-bottom: 4%;
  position: relative;
  left: 12%;
  font-size: 171%;
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 1000px) {
    .titre_restaurant {
      display: block;
      position: relative;
      left: 36%;
      padding-top: 2%;
      padding-bottom: 2%; } }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .titre_restaurant {
      display: block;
      left: 24%; } }

.titre_box_resto {
  font-size: 171%;
  font-weight: bold;
  padding-top: 7%;
  padding-bottom: 4%;
  position: relative;
  left: 12%; }
  @media screen and (min-width: 1000px) {
    .titre_box_resto {
      padding-top: 2%;
      padding-bottom: 2%;
      position: relative;
      left: 46%; } }

.taille_coeur {
  font-size: 1.5em;
  position: relative;
  top: 22%;
  left: -95%; }

.text_box {
  color: black;
  position: relative;
  left: 4%;
  top: 8%; }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .text_box {
      font-size: 26px;
      top: 10%; } }

.strong_text {
  margin-bottom: 4%; }

.logo_page {
  width: 59%;
  position: relative;
  right: 5%; }
  @media screen and (min-width: 1000px) {
    .logo_page {
      width: 28%; } }

.width_image_logo {
  width: 100%; }

.box_logo {
  display: flex;
  justify-content: space-around;
  margin-top: 9%;
  margin-bottom: 2%; }
  @media screen and (min-width: 1000px) {
    .box_logo {
      margin-top: 0%;
      margin-bottom: 0%;
      position: relative;
      left: -8%; } }

.flech_left {
  width: 6%;
  position: relative;
  top: 9%;
  font-size: 177%; }

.titre_menu {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: relative;
  left: 4%; }
  @media screen and (min-width: 1000px) {
    .titre_menu {
      justify-content: space-evenly; } }

.name_menu {
  font-family: 'Shrikhand', cursive;
  font-size: 180%; }

.flech_home {
  color: black; }

.bordure_plat_titre {
  background-color: #99e2d0;
  height: 4px;
  width: 31px; }

.op_box-1 {
  opacity: 0;
  -webkit-animation: 5s ease 1s normal forwards 1 fadein;
  animation: 5s ease 1s normal forwards 1 fadein; }

@keyframes fadein {
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }
.op_box-2 {
  opacity: 0;
  -webkit-animation: 5s ease 2s normal forwards 1 fadein;
  animation: 5s ease 2s normal forwards 1 fadein; }

@keyframes fadein {
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }
.op_box-3 {
  opacity: 0;
  -webkit-animation: 5s ease 3s normal forwards 1 fadein;
  animation: 5s ease 3s normal forwards 1 fadein; }

@keyframes fadein {
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }
.op_box-4 {
  opacity: 0;
  -webkit-animation: 5s ease 4s normal forwards 1 fadein;
  animation: 5s ease 4s normal forwards 1 fadein; }

@keyframes fadein {
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }
.op_box-5 {
  opacity: 0;
  -webkit-animation: 5s ease 5s normal forwards 1 fadein;
  animation: 5s ease 5s normal forwards 1 fadein; }

@keyframes fadein {
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }
.op_box-6 {
  opacity: 0;
  -webkit-animation: 5s ease 6s normal forwards 1 fadein;
  animation: 5s ease 6s normal forwards 1 fadein; }

@keyframes fadein {
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }
.op_box-7 {
  opacity: 0;
  -webkit-animation: 5s ease 7s normal forwards 1 fadein;
  animation: 5s ease 7s normal forwards 1 fadein; }

@keyframes fadein {
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }
.op_box-8 {
  opacity: 0;
  -webkit-animation: 5s ease 8s normal forwards 1 fadein;
  animation: 5s ease 8s normal forwards 1 fadein; }

@keyframes fadein {
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }
.op_box-9 {
  opacity: 0;
  -webkit-animation: 5s ease 9s normal forwards 1 fadein;
  animation: 5s ease 9s normal forwards 1 fadein; }

@keyframes fadein {
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }
.section_menu {
  width: 95%;
  position: relative;
  left: 3%; }
  @media screen and (min-width: 1000px) {
    .section_menu {
      display: flex;
      justify-content: space-evenly; } }

.card_plat {
  background-color: white;
  margin-bottom: 4%;
  box-shadow: 1px 0px 5px grey;
  border-radius: 8px; }
  @media screen and (min-width: 1000px) {
    .card_plat {
      width: 34vh;
      margin-bottom: 0%; } }
  .card_plat:hover {
    cursor: pointer; }
    .card_plat:hover .validator {
      display: block;
      background-color: #99e2d0;
      width: 20%;
      border: 3px #99e2d0;
      border-top-right-radius: 10%;
      border-bottom-right-radius: 10%; }
    .card_plat:hover .box_card {
      display: flex; }
    .card_plat:hover .box_text {
      width: 80%; }
    .card_plat:hover .check_valide {
      color: #99e2d0;
      position: relative;
      top: 14%;
      left: 14%; }
    .card_plat:hover .box_card_check {
      background-color: white;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      position: relative;
      top: 30%;
      left: 34%; }
    .card_plat:hover .cut {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

.box_text {
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 3%; }

.validator {
  display: none; }

.box_plat_el {
  display: flex;
  width: 97%;
  justify-content: space-between; }

.box_titre {
  margin-bottom: 5%;
  margin-top: 6%;
  position: relative;
  left: 3%; }
  @media screen and (min-width: 1000px) {
    .box_titre {
      left: 10%;
      margin-top: 0%;
      margin-bottom: 0%; } }

.sous_titre_ligne_2 {
  position: relative;
  left: 12%; }
  @media screen and (min-width: 1000px) {
    .sous_titre_ligne_2 {
      left: 0%; } }

.input_search {
  background: none;
  border: none;
  position: relative;
  left: 4%;
  top: 8px;
  font-size: 100%; }
  @media screen and (min-width: 1000px) {
    .input_search {
      top: 0px; } }

.postion_icone_map {
  position: relative;
  top: 1.5vh; }
  @media screen and (min-width: 1000px) {
    .postion_icone_map {
      top: 0vh; } }

input::-webkit-input-placeholder {
  font-weight: bold;
  color: black; }

input::-moz-placeholder {
  font-weight: bold;
  color: black; }

input::-ms-input-placeholder {
  font-weight: bold;
  color: black; }

.div_new, .div_new2 {
  color: #008766;
  position: relative;
  top: 2%;
  left: 75%;
  font-weight: bold;
  z-index: 1; }
  @media screen and (min-width: 1000px) {
    .div_new, .div_new2 {
      top: -7%;
      width: 67%;
      left: 83%; } }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .div_new, .div_new2 {
      left: 84%;
      padding: 0%;
      z-index: 1;
      top: 3%; } }

.p_new, .p_new_2 {
  background-color: #99e2d0;
  position: relative;
  left: 0%;
  padding: 3%;
  font-weight: bold;
  z-index: 1;
  width: 17%; }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .p_new, .p_new_2 {
      width: 9%; } }

.div_new2 {
  position: relative;
  top: 2%;
  width: 100%; }
  @media screen and (min-width: 1000px) {
    .div_new2 {
      top: -7%;
      left: 83%;
      width: 68%; } }

.titre_footer {
  font-family: 'Shrikhand', cursive;
  padding-left: 8%;
  padding-bottom: 4%;
  padding-top: 4%; }
  @media screen and (min-width: 1000px) {
    .titre_footer {
      padding-bottom: 2%;
      padding-top: 2%; } }

.div_footer {
  margin-bottom: 4%;
  margin-left: 8%; }

.flex_box_image {
  width: 92%;
  position: relative;
  left: 5%;
  border-top-left-radius: 25px 37px;
  border-top-right-radius: 25px 37px; }
  @media screen and (min-width: 1000px) {
    .flex_box_image {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 2%; } }

.taille_image {
  width: 100%;
  height: 29vh;
  border-top-left-radius: 11px 21px;
  border-top-right-radius: 11px 21px; }
  @media screen and (min-width: 1000px) {
    .taille_image {
      height: 33vh; } }

.div_search {
  background-color: #f6f6f6;
  border: none;
  padding-top: 2%;
  width: 100%;
  text-align: center;
  box-shadow: inset -3px 20px 19px -12px #cfcfcf; }

.box_restaurant {
  background-color: #eaeaea;
  width: 105%;
  left: -13%;
  position: relative;
  left: -3%; }

.box_image {
  height: 30vh;
  border-bottom: 15px solid #eaeaea;
  background-color: #ffffff;
  border-radius: 29px; }
  @media screen and (min-width: 1000px) {
    .box_image {
      width: 33%; } }

.box_plat {
  background-color: #f6f6f6;
  padding-top: 11%;
  position: relative;
  top: -30px; }
  @media screen and (min-width: 1000px) {
    .box_plat {
      position: relative;
      border-top-left-radius: 28px;
      border-top-right-radius: 28px;
      padding-top: 2%; } }

.text_search {
  left: 9%; }
  @media screen and (min-width: 1000px) {
    .text_search {
      position: relative;
      top: 0px;
      left: 0%; } }

.explo_resto {
  position: relative;
  top: -9%; }

.box-footer {
  display: block; }
  @media screen and (min-width: 1000px) {
    .box-footer {
      display: flex;
      justify-content: space-around; } }

@media screen and (min-width: 1000px) {
  .menu_flex {
    display: flex;
    justify-content: space-evenly; } }

.spinner_rotation {
  opacity: 1;
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #9356DC;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  transition: opacity 20ms;
  position: absolute;
  left: 32%;
  top: 32%;
  animation: spin 4s; }
  @media screen and (min-width: 1000px) {
    .spinner_rotation {
      left: 46%; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.spinner_opacity {
  opacity: 1;
  animation: fade 4s; }

@keyframes fade {
  100% {
    opacity: 0; } }
main {
  opacity: 0;
  -webkit-animation: 4s ease 1s normal forwards 1 fadein;
  animation: 4s ease 1s normal forwards 1 fadein; }

.index_palette_du_gout {
  position: relative;
  top: -29%;
  height: 48%; }

/*# sourceMappingURL=style.css.map */
