.sous_titre{

    @include roboto;

    font-size: 20px;
    
    position: relative;
    left: 13%;
    margin-left: -1%;


    @media screen and (min-width:$width_desktop) {

      left:36%;
      display: flex;
    }


    @media screen  and (min-width:$min-width-tab) and (max-width:$max-width-tab){
    left: 32%;
      
    }

}

.sous_titre_ligne_2{

  @include roboto;


  @media screen and (min-width:$width_desktop) {
  margin-left: 1%;

  }

}
