.spinner_opacity {

    opacity: 1;
    animation:
      fade 4s;
  
  }
  
  @keyframes fade {
  
    100% {
      opacity: 0;
    }
  }
  
  main {
  
    opacity: 0;
  
    $t : 4+s;
  
    $t2 : 1+s;
  
    -webkit-animation: $t ease $t2 normal forwards 1 fadein;
    animation: $t ease $t2 normal forwards 1 fadein;
  
  
  }