.spinner_opacity {

    opacity: 1;
    animation:
      fade 4s;
  
  }
  
  main {
  
    opacity: 0;
  
    $t : 4+s;
  
    $t2 : 1+s;

    animation: $t ease $t2 normal forwards 1 fadein;
  
  
  }