
html{

  overflow-x: hidden;
}

body{


    background-color:$backcolor;

    margin: 0; height: 100%;
    
    overflow-x: hidden;
  }
  
  img{
  
  object-fit:cover;
  
  }
  
  footer{
  
  
  background-color: $backfooter;
  
  color:white;
    
    justify-content:space-around;

    padding-bottom: 6%;

    @media screen and (min-width:$width_desktop) {
      
      padding-bottom: 0%;

    }
  
}
  a{

    text-decoration:none;
    color:white;

  }

  main{

opacity: 0;

  }

  .link_fleche{

    position: relative;
    left: -3%;

    @media screen and (min-width:$width_desktop) {
      
      left: 11%;

      top:20px;

    }

  }

  .fa-heart {
    font-size: 1em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
    transition: color 2s ease-out;
  
    position: relative;
    top:27%;

    font-size: 2em;
  

  &:hover {

    background:-webkit-linear-gradient(top, $purple 30%, $pink 70%);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
  
    cursor: pointer;
  }

  }
  
  
  .box_restaurant_text{

    display: flex;
justify-content: space-between;

position: relative;
top: 2%;


  }

.div_header{

  background-color: $back_grey;
  width: 104%;

    
  height: 55vh;

  @media screen  and (min-width:$min-width-tab) and (max-width: $max-width-tab){
    
    height: 100%;


  }

   
  
  @media screen  and(min-width:$width_desktop) {

    height: 41vh;

  }

  position: relative;
  left: -2%;

}

  .button_explore {
    position: relative;  
      top: 34px;
      left: 21%;
     cursor: pointer;


    @media  screen and(min-width:$width_desktop) {

     
      left: 37%;

      margin-bottom: 0%;
      

    }

    @media screen  and (min-width:$min-width-tab) and (max-width: $max-width-tab){

      left:31%;

    }

    height: 57px;

    padding-left: 6%;
   padding-right: 6%;

    
    border: none;
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    border-top-right-radius: 26px;
    color: white;
    font-size: 1.2em;
    background: linear-gradient(to bottom right, $pink, $purple);
    margin-bottom: 10%;

  }

  .btn_commander{

    @extend .button_explore;


      position: relative;
      top: 0px;
      left: 90px;
    
    width: 52%;

    height: 46px;

    cursor: pointer;

    @media  screen and (min-width:$width_desktop){

      position: relative;
      top: 0px;
    left: 30%;
    width: 37%;

  }


  @media screen  and (min-width:$min-width-tab) and (max-width: $max-width-tab){

    left: 196px;

    

  }

    }


    
  

  .sous_titre{

    @include roboto;

    font-size: 20px;
    
    position: relative;
    left: 13%;

    @media screen and (min-width:$width_desktop) {

      left:36%;
    }

}

.titre_section_plat{
  
  @include roboto;

    font-size: 20px;
    
    position: relative;

    @media screen and (min-width:$width_desktop) {

      left:0%;
    }


}

  .text_fonctionement{


    font-weight: bold;
    font-size: 27px;
    margin-bottom: 11%;
    position: relative;
    left: 6%;
    margin-top: 8%;

    @media screen and (min-width:$width_desktop) {
    
      margin-top: 2%;

      margin-bottom: 2%;

    }

  
  }

.div_icone_titre{

  background-color: $backcolor;

  margin-top: 3%;

  @media screen and (min-width:$width_desktop) {

    margin-top: 0%;

  }

}


  .el_nav_menu {
    background-color: $grey_div;
    height: 11vh;
    width: 93%;
    display: flex;
    border-radius: 23px;
    margin-bottom: 7%;
    position: relative;
    left: 5%;
    
    box-shadow: 0px 7px 9px $shadow_nav_menu;

    &:hover{

      #icone_mobile{
    
        color:$purple;
      }
    
    }
    
    @media screen and (min-width:$width_desktop) {

      width: 22%;
      
    }

  }


  #icone_mobile{
    
    color:grey;
  }

  .taille_image_acceuil{

    width:100%;
    height: 100%;

    border-top-left-radius: $radius-image $radius-image2;
    border-top-right-radius: $radius-image $radius-image2;

    @media screen and (min-width:$width_desktop) {

      height: 28vh;

    }


}


.taille_image_acceuilnonew{

  width:100%;
  height: 74%;

  border-top-left-radius: $radius-image $radius-image2;
  border-top-right-radius: $radius-image $radius-image2;

  @media screen and (min-width:$width_desktop) {

    height: 28vh;

  }


}

  .el_nav_menu:hover {

    background-color: $purle_light;
      
  }

  .numbre_cicle{

    position: relative;
    top: -6px;
    left: -2px;

    font-size: 12px;

    @media screen and (min-width:$width_desktop) {
      top: -1px;
      left: -1px;

      font-size: 28px;
    }

    @media screen  and (min-width:$min-width-tab) and (max-width:$max-width-tab){
      
      top: -18px;
    left: -8px;
    font-size: 38px;

    }

  }

  .circle_nav {
    height: 1px;
    width: 1px;
    background-color: $purple;
    border-radius: 50%;
    color: white;
    text-align: center;
    position: relative;
    left: -14px;
    top: 32%;
    padding: 4%;
    
    @media screen and (min-width:$width_desktop) {
      
      padding: 2%;

      top:30%;


      height: 28%;
      width: 9%;
      
    }

  }


  .box_menu{
    


display: flex;
width: 72%;
justify-content:  space-evenly;

position: relative;
top: 37%;

@media screen  and (min-width:$min-width-tab) and (max-width:$max-width-tab){

  font-size: 26px;
}

}




  .double_icone{

    display: flex;

  }

  .icone_titre{

    width: 61%;
margin-top: 4%;
margin-bottom: 4%;

position: relative;

left:21%;

@media screen and (min-width:$width_desktop) {
  
  width: 25%;

  left:36%;
}

  }

  .font_size_icone{

    font-size: 139%;
 
    
  }



  .div_titre{

    background-color: white;

  }

  .soustitre{

    position: relative;

   
     left: 9%;

     @media screen and (min-width:$min-width-tab) and (max-width:$max-width-tab){

      left: 0%;

     }


    @media screen  and (min-width:$width_desktop) {

    left: 1%;
    
    }


  }

  .titre_restaurant{

    font-weight: bold;
   
    padding-top: 7%;
    padding-bottom: 4%;

    position: relative;
    left: 19%;

    font-size: 171%;

    display: flex;
    flex-direction: column;
    
    @media screen  and (min-width:$width_desktop) {
      
  display: block;
      position: relative;
    left: 36%;

    padding-top: 2%;
    padding-bottom: 2%;

    }

    @media screen and (min-width:$min-width-tab) and (max-width:$max-width-tab){
      display: block;
      left: 24%;

    }

  }

  .titre_box_resto{

    font-size: 171%;

    font-weight: bold;

    padding-top: 7%;
    padding-bottom: 4%;

    position: relative;
    left: 8%;


    @media screen  and (min-width:$width_desktop) {
      

      padding-top: 2%;
      padding-bottom: 2%;

      position: relative;
    left: 16%;

    }

  }

.taille_coeur{

  font-size: 1.2em;
  position: relative;
  top: 7%;
  left: -95%;
}
  
.text_box{

  color:black;

  position: relative;
left: 4%;
top: 8%;


@media screen and (min-width:$min-width-tab) and (max-width:$max-width-tab){

font-size: 26px;

top: 10%;

}

}

.strong_text{

  margin-bottom: 4%;

}

.logo_page{

  width: 59%;
  position: relative;
    right: 5%;

    @media screen  and (min-width:$width_desktop) {
      
      width: 28%;


    }

}

.width_image_logo{


    
  
  width:100%;
  


}

.box_logo{
  
  display: flex;
 
  justify-content: space-around;
    
  margin-top: 9%;
  margin-bottom: 2%;
  

@media screen  and (min-width:$width_desktop){

margin-top: 0%;

 margin-bottom: 0%;

 position: relative;

 left: -8%;

}

}

.flech_left{
  width: 6%;
  position: relative;
  top: 9%;
  
  font-size: 177%;

}

.titre_menu{

  display: flex;
justify-content: space-between;
width: 90%;
position: relative;
left: 4%;

@media screen and (min-width: $width_desktop) {

  justify-content: space-evenly;

}

}

.name_menu{

  @include Shrikhand;

font-size: 180%;

}

.flech_home{

  color:black;

}

.bordure_plat_titre{

background-color: $green;

height: 4px;
width: 31px;

}

@for $i from 1 through 9 {
  .op_box-#{$i} {
         
      @include ani_op(5,$i);
        
  }

  @keyframes fadein{

    20% { opacity:1; }

    100% { opacity:1; }
}

}




.section_menu{
 

    
  
  width: 95%;
  position: relative;
  left: 3%;


  @media screen and (min-width: $width_desktop) {
 
    display: flex;
    justify-content: space-evenly;
    
}

}


.card_plat{

  background-color: white;
  margin-bottom: 4%;
  box-shadow: 1px 0px 5px grey;
  border-radius: 8px;



  @media screen and (min-width: $width_desktop) {

    width: 34vh;

    margin-bottom: 0%;

  }

&:hover{

  cursor: pointer;

  .validator{

    

  display: block;

  background-color: $green; 
  width: $width-validator;

border: 3px $green;

border-top-right-radius: 10%;
border-bottom-right-radius: 10%;

}


  .box_card{
    display: flex;
  }

  .box_text{

    width: $width_card;
  
  }

  .check_valide{

    color: $green;

    
    position: relative;
    top: 14%;
    left: 14%;


  }

  .box_card_check{

    background-color: white;

    border-radius: 100%;
    width: 20px;
    height: 20px;

    position: relative;
    top: 30%;
    left: 34%;
    
}


.cut{

  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 

}
  

}


}

.box_text{

  padding-top: 2%;
  
  padding-bottom: 5%;
  padding-left: 3%;

  
}

.validator{

  display:none;


}

.box_plat_el{

  display:flex;
   width: 97%;
   justify-content: space-between;
  


}

.box_titre{

  margin-bottom: 5%;
  margin-top: 6%;  
   position: relative;
   left: 3%;


   @media screen and (min-width: $width_desktop) {

    left: 10%;

    margin-top: 0%;

    margin-bottom: 0%;
   }
  

}

.sous_titre_ligne_2{

  position: relative;
 
  left: 12%;
  
  @media screen and (min-width: $width_desktop) {
  left: 0%;  
  }

 
}

.input_search{
  
  background: none;
  border: none;
  position: relative;
  left: 4%;
  top: 8px;
  font-size: 100%;
  
  @media screen and (min-width: $width_desktop) {

    top:0px;

  }
 

}

.postion_icone_map{

  position: relative;
  top: 1.5vh;

  @media screen and (min-width: $width_desktop) {

   top:0vh; 

  }

}

input::-webkit-input-placeholder {
    font-weight: bold;
    color: black;
  
}
input::-moz-placeholder {
    font-weight: bold;
    color: black;

}
input::-ms-input-placeholder {
    font-weight: bold;
    color: black;
   
}


.div_new{

  
  color:$green_back;
  position: relative;
  top: -5%;


  font-weight: bold;

  z-index: 1;

  height: 10%;


@media screen and (min-width: $width_desktop) {
  

  top: -7%;
  width: 67%;
  left: 32%;


  
  }

  @media screen and (min-width:$min-width-tab) and (max-width:$max-width-tab){

    left: 84%;
     padding: 0%; 
    z-index: 1;
    top: 3%;

  }

}

.p_new{

  background-color: $green;
  position: relative;
  left: 76%;
  font-weight: bold;
  z-index: 1;
  width: 20%;
  height: 100%;
  padding-left: 2%;
  padding-top: 2%;

  @media screen and (min-width:$min-width-tab) and (max-width:$max-width-tab){

    width: 9%;

  }


}

.p_new_2{

  @extend .p_new;



}

.div_new2{
  @extend .div_new;
  position: relative;
   top: 2%;
  width: 100%;

  @media screen and (min-width:$width_desktop) {
    
    top: -7%;
    left: 83%;
    width: 68%
}

  }
  




.titre_footer{

@include Shrikhand;

  padding-left: 8%;

  padding-bottom: 4%;
  padding-top: 4%;

  @media screen and(min-width:$width_desktop) {

    padding-bottom: 2%;
    padding-top: 2%;
    
  }

}

.div_footer{

  margin-bottom: 4%;
    margin-left: 8%;
}