body{


    background-color:$backcolor;

    font-family: 'Roboto', sans-serif;



  
  }
  
  img{
  
  object-fit:cover;
  
  }
  
  footer{
  
  
  background-color: $backfooter;
  
  color:white;
  
    
  
    justify-content:space-around;
  
  height: 100px;
  
  
  }

  a{

    text-decoration:none;

  }


  .fa-heart {
    font-size: 2em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
    transition: color 2s ease-out;
  
  &:hover {

    background:-webkit-linear-gradient(top, $purple 30%, $pink 70%);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
  
    cursor: pointer;
  }


  }
  
  
  .box_restaurant_text{

    display: flex;
justify-content: space-between;

  }

.div_header{

  background-color: $back_grey;
  width: 104%;
  position: relative;
  left: -2%;

}

  .button_explore {
    position: relative;
    top: 18%;
    left: 24%;
    height: 57px;

    padding-left: 6%;
   padding-right: 6%;

    
    border: none;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    border-top-right-radius: 23px;
    color: white;
    font-size: 1.2em;
    background: linear-gradient(to bottom right, $pink, $purple);
    margin-bottom: 10%;

  }

  .sous_titre{

    font-size: 20px;
    margin-bottom: 6%;

  }

  .text_fonctionement{
    
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 11%;
    position: relative;
    left: 6%;


  }

.div_icone_titre{

  background-color: $backcolor;

}

  .el_nav_menu {
    background-color: $grey_div;
    height: 11vh;
    width: 93%;
    display: flex;
    border-radius: 23px;
    margin-bottom: 7%;
    position: relative;
    left: 4%;
    
    box-shadow: 0px 7px 9px #e6e6e6;

    &:hover{

      #icone_mobile{
    
        color:$purple;
      }
    
    }
    

  }


  #icone_mobile{
    
    color:grey;
  }


  .el_nav_menu:hover {

    background-color: $purle_light;
      
  }

  .numbre_cicle{

    position: absolute;
    top: 8px;
    left: 33%;

    font-size: 12px;

  }

  .circle_nav {
    height: 1px;
    width: 1px;
    background-color: $purple;
    border-radius: 50%;
    color: white;
    text-align: center;
    position: relative;
    left: -14px;
    top: 32%;
    padding: 4%;
  }


  .box_menu{
    
display: flex;
width: 72%;
justify-content: space-between;
margin-left: 7%;
height: 36px;
position: relative;
top: 21%;



  }

  .double_icone{

    display: flex;

    position: relative;
    top: 31%;


  }

  .icone_titre{

    width: 61%;
margin-top: 4%;
margin-bottom: 4%;

  }

  .font_size_icone{

    font-size: 139%;
    position: relative;
    top: 33%;
    
  }

  .text_icone{

    position: relative;
    top: 27%;
    left: -30%;


  }

  .div_titre{

    background-color: white;

  }

  .soustitre{

    position: relative;
     left: 9%;

  }

  .titre_restaurant{

    font-weight: bold;
    position: relative;
    left: 9%;
    padding-top: 7%;
    padding-bottom: 4%;
    font-size: 171%;
    
  }

.taille_coeur{

  font-size: 1.5em;
  position: relative;
top: 22%;
left: -95%;

}
  
.text_box{

  color:black;

}

.input_search{
  
  background: none;
  border: none;

}

.div_new{

  background-color: #99e2d0;
  color:$green_back;
  position: absolute;
  top: 7%;
  left: 71%;
  padding: 2%;
  font-weight: bold;
}

.div_new2{
  @extend .div_new;

  position: absolute;
  top: 57%;

}


.titre_footer{

  font-family: 'Shrikhand', cursive;

}