.taille_image{

    width:100%;

    @media  screen and (min-width:$width_mobile) {

    height: 29vh;

    }

    @media  screen and (min-width:$width_desktop) {
        
        height: 50vh;

    }

    border-top-left-radius: $radius-image $radius-image2;

    border-top-right-radius: $radius-image $radius-image2;



}