$shadow:#dcdcdc;

$backcolor:#ffffff;

$backfooter:#353535ff;

$grey: #eaeaea;

$border_radius:23px;

$pink:#FF79DA;

$purple:#9356DC;

$purle_light:#f5edff;

$green:#99E2D0;

$radius-image:11px;

$radius-image2: 21px;

$grey_div:#f6f6f6;

$grey_search:#cfcfcf;

  
