.circle_nav {
  height: 1px;
  width: 1px;
  background-color: $purple;
  border-radius: 50%;
  color: white;
  text-align: center;
  position: relative;
  left: -14px;
  top: 32%;
  padding: 4%;

  @media screen and (min-width:$width_desktop) {

    padding: 2%;

    top: 30%;


    height: 28%;
    width: 9%;

  }

}