.el_nav_menu {
    background-color: $grey_div;
    height: 11vh;
    width: 93%;
    display: flex;
    border-radius: 23px;
    margin-bottom: 7%;
    position: relative;
    left: 5%;
    
    box-shadow: 0px 7px 9px $shadow_nav_menu;

    &:hover{

      #icone_mobile{
    
        color:$purple;
      }
    
    }
    
    @media screen and (min-width:$width_desktop) {

      width: 22%;
      
    }

}
