.box_titre {

    margin-bottom: 5%;
    margin-top: 6%;
    position: relative;
    left: 3%;


    @media screen and (min-width: $width_desktop) {

        left: 10%;

        margin-top: 0%;

        margin-bottom: 0%;
    }


}