.box_image_new {

    height: $height_box;
    border-bottom: 15px solid $grey;
    background-color: $backcolor;
    border-radius: 24px;

    padding-bottom: 2%;

    @media screen and (min-width:$width_desktop) {

        width: $width_box;


}

}


.box_image_nonew {

    @extend .box_image_new;

    border-radius: 20px;


}