.box_image_new {

    height: 35vh;
    border-bottom: 15px solid $grey;
    background-color: $backcolor;
    border-radius: 24px;

    padding-bottom: 2%;

    @media screen and (min-width:$width_desktop) {

        width: 33%;

    }

}


.box_image_nonew {

    height: 35vh;
    border-bottom: 15px solid $grey;
    background-color: $backcolor;
    border-radius: 20px;

    padding-bottom: 2%;

    @media screen and (min-width:$width_desktop) {

        width: 33%;

    }

}