
.box_logo{
  
    display: flex;
   
    justify-content: space-around;
      
    margin-top: 9%;
    margin-bottom: 2%;
    
  
  @media screen  and (min-width:$width_desktop){
  
  margin-top: 0%;
  
   margin-bottom: 0%;
  
   position: relative;
  
   left: -8%;
  
  }
  
  }